* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #23395B;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 20px;
}